{% extends "questionnaires/base.html" %}
{% block content %}

<div class="jumbotron text-center container-fluid">
    <h1>Questionnaire Error</h1>
    <h2>{{qtitle}}</h2>

    <p class="error">{{messages}}</p>


</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <p></p><a href="/questionnaires" class="btn btn-success"> Return to Home <span
                class="glyphicon glyphicon-circle-arrow-up"></span></a>
        </div>
    </div>
</div>
{% endblock content %}