{% extends "questionnaires/base.html" %}
{% block title %}Questionnaire{% endblock %}
{% load i18n %}
{% block head %}
{% endblock %}
{% block content %}

<div style="background-color:{{wizard.form.qbgcolor}}; color:{{wizard.form.textcolor}};">

    <form action="" method="post">{% csrf_token %}

        <div class="container-fluid ui-content" align="center">

            <h2>{{qtitle}}</h2>
            <p class="btn-warning">{{messages}}</p>
            <p>Please provide information on the members of your family below then click "Next".</p>

            <div id="results well">
                <table class="customform table">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>First Name</th>
                        <th>Gender</th>
                        <th>Age (yrs)</th>
                        <th>Deceased</th>
                        <th>Birth Order</th>

                    </tr>
                    </thead>
                    <tbody>

                    <tr id="mother_row">
                        <th>
                            <button type="button" class="btn btn-primary">
                                Biological Mother
                            </button>
                        </th>
                        {{ mother_formset.management_form }}

                        {% for form in mother_formset %}
                        {% if form.errors %}
                        </tr><tr><td>{{ form.errors.as_ul }}</td></tr>
                        {% endif %}
                        <td>{{ form.person }}</td>
                        <td>{{ form.gender }}</td>
                        <td>{{ form.age }}</td>
                        <td>{{ form.decd }}</td>
                        <td>{{ form.type }}</td>
                        {% endfor %}


                    </tr>
                    <tr id="father_row">
                        <th>
                            <button type="button" class="btn btn-primary">
                                Biological Father
                            </button>
                        </th>
                        {{ father_formset.management_form }}
                        {% for form in father_formset %}
                        {% if form.errors %}
                        </tr><tr><td>{{ form.errors.as_ul }}</td></tr>
                        {% endif %}
                        <td>{{ form.person }}</td>
                        <td>{{ form.gender }}</td>
                        <td>{{ form.age }}</td>
                        <td>{{ form.decd }}</td>
                        <td>{{ form.type }}</td>

                        {% endfor %}


                    </tr>
                    <tr id="sibling_row">
                        <th>
                            <button type="button" class="btn btn-primary">
                                Biological Siblings
                            </button>
                        </th>
                        <td colspan="5">Please start with the first born and include yourself in the list. (<i>Please remove any empty rows before submitting</i>)</td>

                    </tr>
                    {{ sibling_formset.management_form }}
                    {% for form in sibling_formset %}
                    {% if form.errors %}
                        </tr><tr><td>{{ form.errors.as_ul }}</td></tr>
                        {% endif %}
                    <tr>
                        <td></td>
                        <td>{{ form.person }}</td>
                        <td>{{ form.gender }}</td>
                        <td>{{ form.age }}</td>
                        <td>{{ form.decd }}</td>
                        <td>{{ form.ORDER }} {{ form.type }}</td>
                        <td><button class="remove_sibling_row" title="Remove sibling"><span class="glyphicon glyphicon-remove"></span></button></td>
                    </tr>
                    {% endfor %}
                    <tr><td></td>
                        <td colspan="4">
                            <div id="empty_sibling_form" style="display:none"> {{
                                sibling_formset.empty_form.as_table }}
                            </div>
                            <button id="add_sibling_row" class="btn btn-warning">Add Another Sibling</button>
                        </td></tr>


                    <tr id="children_row">
                        <th>
                            <button type="button" class="btn btn-primary">
                                Biological Children
                            </button>
                        </th>
                        <td colspan="5">Please start with the first born. (<i>Please remove any empty rows before submitting</i>)</td>
                    </tr>
                    {{ children_formset.management_form }}
                    {% for form in children_formset %}
                    {% if form.errors %}
                        </tr><tr><td>{{ form.errors.as_ul }}</td></tr>
                        {% endif %}
                    <tr>
                        <td></td>
                        <td>{{ form.person }}</td>
                        <td>{{ form.gender }}</td>
                        <td>{{ form.age }}</td>
                        <td>{{ form.decd }}</td>
                        <td>{{ form.ORDER }} {{ form.type }}</td>
                        <td><button class="remove_children_row" title="Remove child"><span class="glyphicon glyphicon-remove"></span></button></td>
                    </tr>
                    {% endfor %}
                    <tr><td></td>
                        <td colspan="4">
                            <div id="empty_children_form" style="display:none"> {{
                                children_formset.empty_form.as_table }}
                            </div>
                            <button id="add_children_row" class="btn btn-warning">Add Another Child</button>


                        </td></tr>

                    </tbody>
                </table>
            </div>


            <input id="submit" type="submit" value="Submit" class="btn btn-success"/>
            <input type="hidden" id="completed" name="completed" value="0"/>

        </div>
    </form>
</div>
<script type="text/javascript">

$('#add_sibling_row').click(function(event) {
    var form_idx = $('#id_sibling-TOTAL_FORMS').val();
    var newrow = "<tr><td>"+$('#empty_sibling_form').html() + "</td></tr>";
    $('#sibling_row').append(newrow);
    $('#id_sibling-TOTAL_FORMS').val(parseInt(form_idx) + 1);
});

$('.remove_sibling_row').click(function(event) {
    event.preventDefault();
    var form_idx = $('#id_sibling-TOTAL_FORMS').val();
    $(this).parents("tr").remove();
    $('#id_sibling-TOTAL_FORMS').val(parseInt(form_idx) - 1);
 });


$('#add_children_row').click(function(event) {
    var form_idx = $('#id_children-TOTAL_FORMS').val();
    var newrow = "<tr><td>"+$('#empty_children_form').html() + "</td></tr>";
    $('#children_row').append(newrow);
    $('#id_children-TOTAL_FORMS').val(parseInt(form_idx) + 1);

});

$('.remove_children_row').click(function(event) {
    event.preventDefault();
    var form_idx = $('#id_children-TOTAL_FORMS').val();
    $(this).parents("tr").remove();
    $('#id_children-TOTAL_FORMS').val(parseInt(form_idx) - 1);
 });


$('#submit').click(function(event){
    /*check empty rows removed and hidden values are set */
    var sibling_idx = $('#id_sibling-TOTAL_FORMS').val();
    alert(sibling_idx);
    for (i=0; i < parseInt(sibling_idx); i++){
        if ($('#id_sibling-' + i + '-person').val()==''){
            $('#id_sibling-' + i + '-person').parents("tr").remove();
            $('#id_sibling-TOTAL_FORMS').val(parseInt(sibling_idx) - 1);
        }else{
            $('#id_sibling-' + i + '-type').val('Sibling');
        }
    }
    var child_idx = $('#id_children-TOTAL_FORMS').val();
    for (i=0; i < parseInt(child_idx); i++){
        if ($('#id_children-' + i + '-person').val()==''){
            $('#id_children-' + i + '-person').parents("tr").remove();
            $('#id_children-TOTAL_FORMS').val(parseInt(children_idx) - 1);
        }else{
            $('#id_children-' + i + '-type').val('Children');
        }
    }
    /* Indicate form is submitted*/
    $('#completed').val(1);
});


</script>
{% endblock content %}
