{% extends "questionnaires/base.html" %}
{% load staticfiles %}
{% block title %}Questionnaire{% endblock %}
{% load i18n %}
{% block head %}
{{ wizard.form.media }}
{% endblock %}
{% block content %}

<div data-role="page" class="progress">
    <div class="progress-bar" role="progressbar"
         aria-valuenow="{% widthratio wizard.steps.step1 wizard.steps.count 100 %}" aria-valuemin="0"
         aria-valuemax="100" style="width:{% widthratio wizard.steps.step1 wizard.steps.count 100 %}%">
        {% widthratio wizard.steps.step1 wizard.steps.count 100 %}&#37;
    </div>
    {% if wizard.steps.next %}
    <img class="progressicon" src="/static/qtab/img/Squirrel.ico" height="60px" width="60px"/>
    {% endif %}
</div>
<div style="background-color:{{wizard.form.qbgcolor}}; color:{{wizard.form.textcolor}};">
    <p>Question {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
    <form action="" method="post">{% csrf_token %}

        <div class="container-fluid ui-content" align="center">
            {{ wizard.management_form }}
            {% if wizard.form.forms %}
            {{ wizard.form.management_form }}

            {% for form in wizard.form.forms %}
            {{ form }}
            {% endfor %}
            {% else %}

            <div class="row">
                <div class="col-sm-2">&nbsp;</div>
                <div class="col-xs-12 col-sm-8 col-lg-8 form-group table-responsive" align="center">
                    {{ wizard.form.non_field_errors }}
                <h3>{{wizard.form.question.label}}</h3>
                {% if wizard.form.question.field.choices %}
                    <label></label>
                    {% if wizard.form.question.errors %}
                    <p>{{ wizard.form.question.errors.as_ul }}</p>
                    {% endif %}

                    <table><tbody>

                    <!--One set -->
                    {% for choice in wizard.form.question.field.choices %}
                    <tr><td>
                    <div class="radio-default">

                        <label><input type="{{wizard.form.question.help_text}}"
                                      id="{{ wizard.form.question.id_for_label}}"
                                      name="{{wizard.form.prefix}}-{{ wizard.form.question.name }}"
                                      value="{{ choice.0 }}"
                        />{{choice.1}}</label>

                    </div>
                    </td></tr>

                    {% endfor %}
                </tbody></table>
                {% else %}

                {{wizard.form.question}}
                {% endif %}


            </div>
            <div class="col-sm-2">&nbsp;</div>
        </div>


        <div class="row">
            <div class="col-sm-2">&nbsp;</div>
            <div class="col-sm-8" align="center">
                <span id="msg"></span>
                <ul class="pager">

                    <li class="next">
                        {% if wizard.steps.next %}
                        <input type="submit" class="btn btn-info" value="Next"/>
                        {% else %}
                        <input type="submit" class="btn btn-info" value="Finish"/>
                        {% endif %}
                    </li>
                    {% if wizard.steps.prev %}

                    <li class="previous">
                        <button name="wizard_goto_step" class="btn btn-default"
                                value="{{ wizard.steps.prev }}">{% trans "Previous" %}
                        </button>
                    </li>
                    <li class="previous">
                        <button name="wizard_goto_step" class="btn btn-default"
                                value="{{ wizard.steps.first }}">{% trans "Restart" %}
                        </button>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-sm-2">&nbsp;</div>
        </div>
        {% endif %}
</div>
</form>
</div>

<script type="text/javascript" >
    var selected = [];
    $( ":input:checkbox" ).click(function() {
        var choice = $(this).val();
        var label = $(this).parent().text();
        //alert(label);

        if ($(this).prop('checked')){
            if (choice in ['0','1']){
                //alert("selected no or not sure");
                //unselect others
                $( ":input:checkbox").prop('checked',false);
                $( ":input:checkbox").prop('disabled',true);
                $( ":input:checkbox").parent().css( "opacity",0.6);
                $(this).prop('checked',true);
                $(this).prop('disabled',false);
                $( this).parent().css( "opacity",1.0);
                selected = [];
            }
            selected.push(label);

        }else{
            if (choice in ['0','1']) {
                //alert("UNselected no or not sure");
                $( ":input:checkbox").prop('disabled',false);
                $( ":input:checkbox").parent().css( "opacity",1.0);
            }
            selected.splice( $.inArray(label, selected), 1 );

        }
        $( "#msg" ).text( "You selected: " + selected.toString()  );

        /*.show().fadeOut( 1000 );*/

});



</script>
{% endblock content %}
