{% extends "questionnaires/base.html" %}
{% block title %}Questionnaire{% endblock %}
{% load i18n %}
{% block head %}
{{ wizard.form.media }}
{% endblock %}
{% block content %}
<div data-role="page" class="progress">
    <div class="progress-bar" role="progressbar"
         aria-valuenow="{% widthratio wizard.steps.step1 wizard.steps.count 100 %}" aria-valuemin="0"
         aria-valuemax="100" style="width:{% widthratio wizard.steps.step1 wizard.steps.count 100 %}%">
        {% widthratio wizard.steps.step1 wizard.steps.count 100 %}&#37;
    </div>
    {% if wizard.steps.next %}
    <img class="progressicon" src="/static/qtab/img/Squirrel.ico" height="60px" width="60px" />
    {% endif %}
</div>
<div style="background-color:{{wizard.form.qbgcolor}}; color:{{wizard.form.textcolor}};">
    <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
    <form action="" method="post">{% csrf_token %}
    <table>
    {{ wizard.management_form }}
    {% if wizard.form.forms %}
        {{ wizard.form.management_form }}
        {% for form in wizard.form.forms %}
            {{ form }}
        {% endfor %}
    {% else %}
        <table>
        {{ wizard.form.as_table }}
            </table>
    {% endif %}
    </table>
    <input type="submit" class="btn btn-success" id="submit" value="{% trans "submit" %}"/>
    {% if wizard.steps.prev %}
    <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
    <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
    {% endif %}

    </form>


</div>

{% endblock content %}
