{% extends "questionnaires/base.html" %}
{% block content %}

<div class="jumbotron text-center container-fluid">
    <h1><span class="glyphicon glyphicon-check"></span>Questionnaire Complete</h1>
    {% if user.subjectvisit.icon %}
    <div class="row text-center slideanim">
    <img align="center" width="300px" src="/media/{{user.subjectvisit.icon}}" alt="{{user.firstname}}"/>
        </div>
    {% endif %}
    <p>Thanks for completing the {{qnaire_title}} questionnaire</p>


</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <p></p><a href="/questionnaires" class="btn btn-success"> Return to Home <span
                class="glyphicon glyphicon-circle-arrow-up"></span></a>
        </div>
    </div>
</div>
{% endblock content %}