{% extends "questionnaires/base.html" %}
{% block content %}{% load staticfiles %}
<div class="container">
    <div class="jumbotron">
        <span><img src="{% static "qtab/img/logo.png" %}" align="center" alt="QBI, The University of Queensland"/></span>
        {%if user.subjectvisit.icon %}

        <img align="right" width="200px" src="/media/{{user.subjectvisit.icon}}" alt="{{user.first_name}}"/>

        {% endif %}
        <h1>Welcome to the <br/>Queensland Twin Adolescent Brain Study</h1>
        {% if not user.is_authenticated %}
        <p>Please sign in so you can access your questionnaires.</p>

        {% endif %}


    </div>
{% if user.is_authenticated %}

    <div class="row">

        <div class="col-sm-6">
            <div class="well table-responsive">
                {% if user.is_staff %}
                <h3>Questionnaires to do</h3>
                {% else %}
                <h3>My Questionnaires for {{visit.name|force_escape}}</h3>
                {% endif %}
                {% if questionnaire_list %}
                <table class="table table-condensed">
                    <thead>
                    <tr>

                        <th>Questionnaire</th>
                        <th>Qns</th>
                        <th>Visit</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for q in questionnaire_list %}
                    <tr>

                        <td><a href="{% url 'questionnaires:qintro' q.id %}" class="btn btn-success allowwrap">{{q}} <span class="glyphicon glyphicon-circle-arrow-right"></span></a></td>
                        <td>{{q.question_set.count}}</td>
                        <td><span class="badge allowwrap">{{ q.categorylist}}</span></td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
                {% else %}
                <p>No questionnaires to do</p>
                {% endif %}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="well">
                <h3>My Completed Questionnaires</h3>
                {% if result_list %}
                <table class="table table-condensed table-responsive">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Date</th>
                        <th>Questionnaire</th>
                        <th>Category</th>
                        <th></th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for q in result_list %}
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-check"></span></td>
                        <td>{{q.date_stored|date:"d-M-Y"}}</td>
                        <td>{{q.questionnaire.title|force_escape}}</td>
                        <td>{{q.questionnaire.categorylist}}</td>
                        <td><a href="{% url 'questionnaires:qintro' q.questionnaire.id %}" class="btn btn-primary btn-small" title="Repeat Questionnaire"><span class="glyphicon glyphicon-refresh"></span></a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>No questionnaires completed</p>
                {% endif %}

            </div>
        </div>


    </div>
{% endif %}

</div>
{% endblock %}