{% extends "questionnaires/base.html" %}
{% block title %}{% endblock %}
{% block content %}
{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}
<p>Question {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
<div class="progress">
    <div class="progress-bar" role="progressbar"
         aria-valuenow="{% widthratio wizard.steps.step1 wizard.steps.count 100 %}" aria-valuemin="0"
         aria-valuemax="100" style="width:{% widthratio wizard.steps.step1 wizard.steps.count 100 %}%">
        {% widthratio wizard.steps.step1 wizard.steps.count 100 %}&#37;
    </div>
</div>
<form action="" method="post">{% csrf_token %}
    <div class="container-responsive" align="center">
        {{ wizard.management_form }}
        {% if wizard.form.forms %}
        {{ wizard.form.management_form }}
        {% for form in wizard.form.forms %}
        {{ form }}
        {% endfor %}
        {% else %}

            <div class="row">
                <div class="col-xs-2">&nbsp;</div>
                <div class="well col-xs-8" align="center">
                    {{ wizard.form.non_field_errors }}
                {% if wizard.form.qimage %}
                    <img src="/static/media/{{ wizard.form.qimage }}" width="400px" alt="{{wizard.form.question.label}}"/><br/>
                {% endif %}
                {% if form.question.field.choices %}
                    <label ><h3>{{wizard.form.question.label}}</h3></label>
                    {% if wizard.form.question.errors %}
                    <p>{{ wizard.form.question.errors }}</p>
                    {% endif %}
                    <div>
                    {% for choice in wizard.form.question.field.choices %}
                        <div class="radio-inline">
                            <label><input type="{{wizard.form.question.help_text}}"
                               id="{{ wizard.form.question.id_for_label}}"
                               name="{{wizard.form.prefix}}-{{ wizard.form.question.name }}"
                               value="{{ choice.0 }}"

                        {% if choice.1.choice_image %}
                          class="imageradio">  <img src="/static/media/{{choice.1.choice_image }}" title="{{choice.1.choice_text}}" />
                        {% else %}
                            >
                        {% endif %}

                        </input>{{ choice.1.choice_text }}</label>
                        </div>

                    {% endfor %}
                     </div>
                {% else %}
                    <h3>{{form.question.field.label}}</h3>
                    {{form.question}}
                {% endif %}


                </div>
                 <div class="col-xs-2">&nbsp;</div>
            </div>
        {% endif %}


            <div class="row">
                <div class="col-xs-2">&nbsp;</div>
                <div class="well col-xs-8" align="center">
                <ul class="pager">
                    {% if wizard.steps.prev %}

                    <li class="previous">
                    <button name="wizard_goto_step" class="btn btn-default" type="submit" value="{{ wizard.steps.first }}">{% trans "Restart" %}
                </button>
                    </li>
                    <li class="previous">
                    <button name="wizard_goto_step" class="btn btn-default" type="submit" value="{{ wizard.steps.prev }}">{% trans "Previous" %}
                </button>
                    </li>
                    {% endif %}
                    <li class="next">
                        {% if wizard.steps.next %}
                        <input type="submit" class="btn btn-info" value="{% trans "Next" %}"/>
                        {% else %}
                        <input type="submit" class="btn btn-success" value="{% trans "Finish" %}"/>
                        {% endif %}
                    </li>
                </ul>
            </div>
                 <div class="col-xs-2">&nbsp;</div>
        </div>
    </div>
</form>

{% endblock content %}
