{% extends "questionnaires/base.html" %}
{% block content %}{% load staticfiles %}
{% load i18n %}
{% block head %}
{{ wizard.form.media }}
{% endblock %}
<p>Question {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
<div class="progress">
    <div class="progress-bar" role="progressbar"
         aria-valuenow="{% widthratio wizard.steps.step1 wizard.steps.count 100 %}" aria-valuemin="0"
         aria-valuemax="100" style="width:{% widthratio wizard.steps.step1 wizard.steps.count 100 %}%">
        {% widthratio wizard.steps.step1 wizard.steps.count 100 %}
    </div>
</div>
<form action="" method="post">{% csrf_token %}
    <div class="container-responsive" align="center">
        {{ wizard.management_form }}
        {% if wizard.form.forms %}
        {{ wizard.form.management_form }}
        {% for form in wizard.form.forms %}
        {{ form }}
        {% endfor %}
        {% else %}
        <div class="row">
            <p>{{ wizard.form.question.auto_id }}</p>
            <p>{{wizard.form.question.id_for_label}}</p>
            <p>{{wizard.form.question.name}}</p>
            <p>{{wizard.form.prefix}}</p>
{{ form }}
        {% endif %}


            <div class="row">
                {% if wizard.steps.prev %}

                <button name="wizard_goto_step" class="btn btn-primary" type="submit" value="{{ wizard.steps.first }}">{% trans "Restart" %}
                </button>


                <button name="wizard_goto_step" class="btn btn-default" type="submit" value="{{ wizard.steps.prev }}">{% trans "Previous" %}
                </button>


                {% endif %}
                <ul class="pager">
                    <li class="next">
                        {% if wizard.steps.next %}
                        <input type="submit" class="btn btn-info" value="{% trans "Next" %}"/>
                        {% else %}
                        <input type="submit" class="btn btn-success" value="{% trans "Finish" %}"/>
                        {% endif %}
                    </li>
                </ul>
            </div>

    </div>
</form>

{% endblock content %}
