{% extends "questionnaires/base.html" %}
{% block content %}
{{ wizard.form.media }}
<div class="container-ui">
    <h1>{{qtitle}}</h1>
    <div class="row">
        <div class="col-sm-12">
            <div class="well" id="single_page">
                {{messages}}
                <form method="POST" action="">
                    {% csrf_token %}
                    {{ formset.management_form }}
                    {{ formset.non_form_errors }}

                        {% for form in formset %}
                     <table class="table table-condensed">
                        {{form.non_field_errors }}
                         {{form.as_table}}
                     </table>
                        {% endfor %}


                    <button class="btn btn-primary" type="submit">Submit</button>

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
